@model BibiotekaNet.ViewModel.Home.RejestracjaVM

@{
    ViewBag.Title = "Rejestracja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/MojCSS.css" rel="stylesheet" />

<div id="contener">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-style-10">
        <h1>Zaloguj klienta!<span>zaloguj klienta, aby mogl on korzystac z witryny internetowej</span></h1>
        <div class="section"><span>1</span>First Name &amp; Address</div>
        <div class="inner-wrap">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.LabelFor(model => model.klient.ImieKlienta)
            @Html.EditorFor(model => model.klient.ImieKlienta)
            @Html.ValidationMessageFor(model => model.klient.ImieKlienta, "", new { @class = "text-danger" })

            @Html.LabelFor(model => model.klient.NazwiskoKlienta)
            @Html.EditorFor(model => model.klient.NazwiskoKlienta)
            @Html.ValidationMessageFor(model => model.klient.NazwiskoKlienta, "", new { @class = "text-danger" })

            @Html.LabelFor(model => model.klient.MiastoKlienta)
            @Html.EditorFor(model => model.klient.MiastoKlienta)
            @Html.ValidationMessageFor(model => model.klient.MiastoKlienta, "", new { @class = "text-danger" })

            @Html.LabelFor(model => model.klient.UlicaKlienta)
            @Html.EditorFor(model => model.klient.UlicaKlienta)
            @Html.ValidationMessageFor(model => model.klient.UlicaKlienta, "", new { @class = "text-danger" })
        </div>

        <div class="section"><span>2</span>Email &amp; Phone</div>
        <div class="inner-wrap">
            @Html.LabelFor(model => model.klient.EmailKlienta)
            @Html.EditorFor(model => model.klient.EmailKlienta)
            @Html.ValidationMessageFor(model => model.klient.EmailKlienta, "", new { @class = "text-danger" })

            @Html.LabelFor(model => model.klient.NumerTelefonuKlienta)
            @Html.EditorFor(model => model.klient.NumerTelefonuKlienta)
            @Html.ValidationMessageFor(model => model.klient.NumerTelefonuKlienta, "", new { @class = "text-danger" })

            @Html.LabelFor(model => model.klient.PESEL)
            @Html.EditorFor(model => model.klient.PESEL)
            @Html.ValidationMessageFor(model => model.klient.PESEL, "", new { @class = "text-danger" })

        </div>

        <div class="section"><span>3</span>Passwords</div>
        <div class="inner-wrap">
            @Html.LabelFor(model => model.klient.LoginKlient)
            @Html.EditorFor(model => model.klient.LoginKlient)
            @Html.ValidationMessageFor(model => model.klient.LoginKlient, "", new { @class = "text-danger" })

            @Html.LabelFor(model => model.klient.HasloKlienta)
            @Html.PasswordFor(model => model.klient.HasloKlienta)
            @Html.ValidationMessageFor(model => model.klient.HasloKlienta, "", new { @class = "text-danger" })
        </div>


        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
        <div class="form-group" style="float:right">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
        }
    </div>

