@model BibiotekaNet.ViewModel.Koszyk.IndexKoszykVM
@{
    ViewBag.Title = "MojKoszyk";
}

<h2>Index</h2>



@if (ViewBag.informacja != null)
{
    <strong>@ViewBag.informacja </strong>
}
else
{
    <table class="table">

        @foreach (var item in Model.ksiazkas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tytuł)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataWydania)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NazwaKategorii)
                </td>
                <td>
                    @Html.ActionLink("Usun", "UsunZKoszyka", new { id = item.KsiazkaID })
                </td>
            </tr>
        }
    </table>
    <span>
        @Html.ActionLink("Wroc do strony glownej", "Aktualnosci", "StronaGlowna")
    </span>
    <span>
        @Html.ActionLink("Wypozycz", "WypozyczKsiazkiZKoszyka", "Wypozyczenie")
    </span>
    <span>
        @Html.ActionLink("Usun Wszysko", "OproznijKosz", "KoszykZKsiazkami")
    </span>

    

    
}

